body
{
	font-family: Calibri, Helvetica, "Times New Roman";
	margin-right:50px;
	margin-left:50px;
}

#main_div
{
    top:35px;
    position: relative;
    font-size:35px;
    letter-spacing: 1.3px;
}

#info_div
{
    top:35px;
    position: relative;
    font-size:30px;
    letter-spacing: 1.3px;
    margin-bottom:35px;
}

#info_icon
{
    height:50px;
    width:50px;
    border-radius:5px;
    float:left;
}

div
.horizontalgap
{
	float:left;
	overflow:hidden;
	height:1px;
	width:0px;
}

.centered {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}

.logo {
	z-index: 10;
	display: inline-block;
	position: absolute;
	width:100%;
	top:10px;
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
	height:75px;
	width:75px;
	border:5px solid black;
	border-radius: 250px;				
	-webkit-border-radius: 250px;
	-moz-border-radius: 250px;
	-webkit-animation:spin 4s linear infinite;
	-moz-animation:spin 4s linear infinite;
	animation:spin 4s linear infinite;
}
	@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
	@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
	
#info_content
{
	font-size:15px;
	line-height: 2em;
}

.link
{
    color:#2196F3;
}

p
{
	font-size:15px;
	line-height: 2em;
}

.li{
	display: list-item;
	margin-left: 2em;
}
